@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PagPrincipal</title>
    <link rel="stylesheet" href="~/css/Fotografo css/Fotografos.css" />
    <link rel="icon" href="~/Recursos/LOGOA.png" />
    <script src="https://kit.fontawesome.com/9bf48cfb4e.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/646ac4fad6.js" crossorigin="anonymous"></script>
</head>
<body>
    <script src="~/js/dropdown.js"></script>

    <header class="header">
        <div class="logo">
            <img src="../Recursos/LOGOA.png" alt="Logo" />
        </div>
        <nav>
            <ul class="linksnav">
                <li><a href="@Url.Action("Indexfotografo", "Fotografo")">Mi perfil</a></li>
                <li><a href="@Url.Action("PaginaFotografo", "Fotografo")">Publicaciones</a></li>
                <li><a href="@Url.Action("PaginaCategorias", "Fotografo")">Calificaciones</a></li>
                <li><a href="@Url.Action("PaginaAyuda", "Fotografo")">Ayuda</a></li>
                <li><a href="@Url.Action("PaginaContacto", "Fotografo")">Contacto</a></li>
                <li class="dropdown">
                    <a href="#">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="@Url.Action("PerfilCliente", "Cliente")">Perfil</a>
                        <a href="@Url.Action("Configuraciones", "Cliente")">Configuración</a>
                        <a href="@Url.Action("Index", "Home")">Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
        </nav>

    </header>

    <div class="categorias">
        <h1>Mis publicacioness</h1>
    </div>

    <div class="container-card">
       
        <div class="card">
            <figure>
                <img src="~/Recursos/p1.jpg" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="~/Recursos/p2.webp" alt="Fotógrafo 1" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="~/Recursos/cinc.jpeg" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="~/Recursos/p4.webp" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
    </div>
    <div class="container-card">
        
        <div class="card">
            <figure>
                <img src="~/Recursos/p5.jpg" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="~/Recursos/p6.jpg" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="~/Recursos/p7.jpg" alt="Fotógrafo 1" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="~/Recursos/p8.jpg" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
    </div>
    <div class="container-card">
        <div class="card">
            <figure>
                <img src="~/Recursos/viaje1.jpg" alt="Fotógrafo 1" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="~/Recursos/animal1.jpg" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="~/Recursos/evento1.jpg" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="~/Recursos/muj.jpeg" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
    </div>
    <div class="container-card">
        <div class="card">
            <figure>
                <img src="~/Recursos/un.jpg" alt="Fotógrafo 1" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="~/Recursos/dos.jpeg" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="~/Recursos/tres.jpg" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="~/Recursos/cuat.jpeg" />
            </figure>
            <div class="contenido-card">
                <a class="smas" href="#"><button>Editar</button></a>
                <a class="smas" href="#"><button>Eliminar</button></a>
            </div>
        </div>
    </div>

</body>
</html>
